---
layout: default
title: CISC374 Showcase
---

<h1>CISC374 Spring 2024 Educational Games</h1>

Jump to:
<ul>
{% for project in site.data.s24games %}
    <li><a href="#{{ project.Team }}">{{ project.Team | capitalize }} - {{ project.Game }}</a>: {{ project.Developers }}</li>
{% endfor %}
</ul>
<hr>

<table>
{% for project in site.data.s24games %}
<tr>
<td colspan=2 style='border-bottom: 0px'>
    <h2 name="{{ project.Team }}" id="{{ project.Team }}">
        {{ project.Game }}
        <sub style="float: right; color: #606060">{{ project.Team | capitalize }}</sub>
    </h2>
</td>
</tr>

<tr>

<td width="60%">
<p><em>Coded by {{ project.Developers }}</em><br>
{{ project.Blurb }}
<ul>
    <li><strong><a href="https://ud-s24-cisc374.github.io/final-project-{{ project.Team }}">Play Online</a></strong></li>
    {% if project.Video %}
    <li><a href="{{ project.Video }}">Gameplay Video</a></li>
    {% endif %}
    <li><a href="https://ud-s24-cisc374.github.io/final-project-{{ project.Team }}/docs/">About the Game</a></li>
    <li><a href="https://ud-s24-cisc374.github.io/final-project-{{ project.Team }}/docs/egdd">Game Design Document</a></li>
    <li><a href="https://github.com/UD-S24-CISC374/final-project-{{ project.Team }}">Source Code</a></li>
</ul>
</p>
</td>

<td width="40%" style="vertical-align: top">
<a href="screenshots/{{ project.Team }}_large.png" target=_blank>
    <img src="screenshots/{{ project.Team }}_small.png">
</a>
</td>

</tr>

{% endfor %}
</table>